{
  "env": {
    "browser": true,
	"node": true,
	"amd": true,
	"mocha": true
},
  "rules": {
	"curly": 0,
	"eol-last":0,
	"no-console": 0,
	"no-alert": 2,
	"no-debugger": 1,
	"no-dupe-keys": 2,
	"no-extra-parens": 1,
	"no-unreachable": 1,
	"camelcase": 0,
	"no-underscore-dangle": 0,
	"quotes": [2, "single"],
	"eqeqeq": [2, "smart"],
	"no-mixed-spaces-and-tabs": [2, true],
	"no-process-exit": 0,
	"yoda": 0,
	"no-unused-vars": [1, {"vars": "all", "args": "none"}],
	"no-new": 0,
	"no-path-concat": 0,
	"handle-callback-err": 0,
	"consistent-return": 0,
	"no-extra-parens": 0,
	"no-unused-vars": 0
	}
}