# Prettier configuration

printWidth: 120
singleQuote: true
tabWidth: 2
useTabs: false
trailingComma: all

# js and ts rules:
arrowParens: avoid

# jsx and tsx rules:
bracketSameLine: false
bracketSpacing: true

endOfLine: auto
