name: Update generator api
on:
  schedule:
    - cron:  '0 0 * * 0'
jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
      - run: npm install -g jsdoc
      - uses: actions/checkout@v2
        with:
          path: source
      - uses: actions/checkout@v2
        with:
          ref: gh-pages
          path: out
      - name: Update jsdoc
        run: |
          jsdoc source/lib/*.js
          cd out
          git add .
          git config --local user.email "mshima@users.noreply.github.com"
          git config --local user.name "Marcelo Shima"
          git commit -a -m "Update generator api"
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update generator api
          committer: Marcelo Shima <mshima@users.noreply.github.com>
          author: Marcelo Shima <mshima@users.noreply.github.com>
          title: 'Update generator api'
          body: |
            Update generator api with last master version
          labels: automated pr
          branch: api-generator
          path: out
      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
          echo "Pull Request Number - ${{ steps.cpr.outputs.pr_number }}"
