name: Integration Build

on:
  push:
    branches-ignore:
      - '*'
      - 'dependabot/**'
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [20]

    steps:
      - name: Checkout yeoman-test
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: yeoman/yeoman-test
          path: yeoman-test

      - name: Checkout yeoman-generator
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: yeoman-generator

      - name: Checkout yeoman-environment
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: yeoman-environment

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run yeoman-test test
        run: |
          cd $GITHUB_WORKSPACE/yeoman-test
          mv package.json package.json.original
          jq 'del(.peerDependencies)' package.json.original > package.json
          cat package.json
          npm install
          npm install ${{ github.repository }}#$GITHUB_SHA yeoman/environment#main
          npm test

      - name: Run yeoman-generator test
        if: always()
        run: |
          cd $GITHUB_WORKSPACE/yeoman-generator
          npm ci
          npm install yeoman/yeoman-test#main yeoman/environment#main
          npm test

      - name: Run yeoman-environment test
        if: always()
        run: |
          cd $GITHUB_WORKSPACE/yeoman-environment
          npm ci
          npm install yeoman-generator-7@${{ github.repository }}#$GITHUB_SHA yeoman/yeoman-test#main
          npm test
