name: Package lock maintenance
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write # for peter-evans/create-pull-request to create branch
      pull-requests: write # for peter-evans/create-pull-request to create a PR
    name: Bump transitional dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: npm
      - name: Create commit
        run: |
          rm package-lock.json
          npm install
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Bump transitional dependencies'
          committer: 'Github Actions <41898282+github-actions[bot]@users.noreply.github.com>'
          author: 'Github Actions <41898282+github-actions[bot]@users.noreply.github.com>'
          title: 'Bump transitional dependencies'
          body: Transitional dependencies bump.
          labels: 'dependencies'
